$ORIGIN lab.${ROOT_DOMAIN}.
@ 60 IN SOA ns1.lab.${ROOT_DOMAIN}. admin.lab.${ROOT_DOMAIN}. 1 7200 3600 1209600 60
@ 60 IN NS ns1.lab.${ROOT_DOMAIN}.
ns1 60 IN A ${VPS_TAILNET_IP}

@  60 IN A ${VPS_TAILNET_IP}
*  60 IN A ${VPS_TAILNET_IP}
